<section class="" *ngIf="user.length !==0" style="background-color: #f4f5f7;">
  <!-- <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100"> -->
      <div class="col col-lg-12 mb-4 mb-lg-0">
        <div class="card mb-3" style="border-radius: .5rem;">
          <!-- <div class="row g-0">
            <div class="col-md-8"> -->
              <!-- *ngFor="let item of user; let i=index" -->
              <!-- <div *ngFor="let item of user; let i=index" class="card-body p-4">
                <h6>User Information</h6>
                <hr class="mt-0 mb-4">
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6>Name</h6>
                    <p class="text-muted">{{item.userName}}</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Email</h6>
                    <p class="text-muted">{{item.email}}</p>
                  </div>
                </div>
                <h6>Mobile</h6>
                <p class="text-muted">{{item.mobileNo.mobile}}</p>
                <hr class="mt-0 mb-4">
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6>Address</h6>
                    <p class="text-muted">{{item.address1}}</p>
                  </div>
                </div>
              </div> -->
              <table class="table col-md-12">
                <thead class="header">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Address</th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of user; let i=index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{item.userName}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.address1}}</td>
                    <td><button class="btn-primary" (click)="onClick(item.id)">Edit</button></td>
                    <td><button class="btn-danger" (click)="delete(item.id)">Delete</button></td>
                  </tr>
                  <!-- <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                  </tr> -->
                </tbody>
              </table>
            <!-- </div>
          </div> -->
        </div>
      </div>
    <!-- </div>
  </div> -->
</section>
