.required{
    border-left: 3px solid #f05006;
}
.col-form-label{
  text-align: right;
  color:hsl(209, 80%, 51%)
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
